.logo {
    width: 60px;
    max-height: 60px;
    margin-right: 10px;
}

.bodymain {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}